# 数据库配置
DB_PASSWORD=postgres
EXTERNAL_DB_PORT=5432

# Redis配置
EXTERNAL_REDIS_PORT=6379

# MinIO配置
EXTERNAL_MINIO_API_PORT=9000
EXTERNAL_MINIO_CONSOLE_PORT=9001

# NATS配置
EXTERNAL_NATS_PORT=4222

# HTTP服务配置
EXTERNAL_HTTP_PORT=8089
EXTERNAL_SSH_PORT=22

# 时区配置
TZ=Asia/Shanghai

# Go程序环境变量
GIN_MODE=release
